.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* take full viewport height */
    text-align: center;
  }

  /* .projects-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 20px;
      align-items: start;
      justify-content: center;
      
  } */
  .project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* adjust as needed */
  }
  
  .project-cards > * {
    flex: 1 0 calc(25% - 20px); /* adjust as needed */
  }
  
  .project-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white; /* or any other color */
  z-index: 1; /* to make sure it's above other elements */
  padding: 20px; /* optional, for some spacing */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white; /* or any other color */
    z-index: 1; /* to make sure it's above other elements */
    padding: 20px; /* optional, for some spacing */
  }
  
  
  .title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600; /* semi-bold */
  }
  
  .subtitle {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400; /* regular */
  }
  
  .book-me {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
  }